<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div class="nav">
      <div class="title">Student Marks register</div>
      <div>
        <button
          type="reset"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addModal"
        >
          Add New User
        </button>
      </div>
    </div>
    <div class="bodyText">
      <!-- add details -->
      <div
        class="modal fade"
        id="addModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Add New Student
              </h5>
              <button
                type="reset"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form
                #addForm="ngForm"
                (ngSubmit)="onAddStudent(addForm)"
                class="addform"
              >
                <label for="name">Name</label><br />
                <input
                  class="form-control"
                  required
                  type="text"
                  ngModel
                  id="name"
                  name="name"
                  placeholder="Student Name"
                />
                <br />
                <label for="gender">Gender</label>
                <select
                  required
                  ngModel
                  name="gender"
                  class="custom-select my-1 mr-sm-2"
                  id="gender"
                >
                  <option selected>....</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
                <label for="english">CGPA for English :</label>
                <input
                  required
                  placeholder="Number between 1-10"
                  class="form-control"
                  type="number"
                  id="english"
                  name="english"
                  ngModel
                  min="1"
                  max="10"
                />
                <br />
                <label for="english">CGPA for Maths :</label>
                <input
                  required
                  placeholder="Number between 1-10"
                  class="form-control"
                  ngModel
                  type="number"
                  id="maths"
                  name="maths"
                  min="1"
                  max="10"
                />
                <br />
                <label for="english">CGPA for Social :</label>
                <input
                  required
                  ngModel
                  placeholder="Number between 1-10"
                  class="form-control"
                  type="number"
                  id="social"
                  name="social"
                  min="1"
                  max="10"
                />
                <br />
                <label for="english">CGPA for Science :</label>
                <input
                  required
                  placeholder="Number between 1-10"
                  class="form-control"
                  type="number"
                  id="science"
                  ngModel
                  name="science"
                  min="1"
                  max="10"
                />
                <br />
                <label for="english">CGPA for Second Language :</label>
                <input
                  required
                  placeholder="Number between 1-10"
                  class="form-control"
                  type="number"
                  id="second_lang"
                  ngModel
                  name="second_lang"
                  min="1"
                  max="10"
                />
                <br />

                <div
                  style="display: flex; justify-content: space-between"
                  class="modal-footer"
                >
                  <input
                    [disabled]="addForm.invalid"
                    class="btn btn-primary"
                    type="submit"
                    value="Save User Details"
                  />
                  <input type="reset" class="btn btn-secondary" value="Reset" />
                  <input
                    type="reset"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    value="Close"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- update student -->
      <div
        class="modal fade"
        id="editModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Edit Student Details
              </h5>

              <button
                type="reset"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form
                #editForm="ngForm"
                (ngSubmit)="onUpdateStudent(editForm.value)"
                class="editform"
              >
                <input
                  type="hidden"
                  ngModel="{{ editStudent?.id }}"
                  name="id"
                  class="form-control"
                  id="id"
                  placeholder="Email"
                />
                <br />
                <label for="name">Name</label><br />
                <input
                  required
                  ngModel="{{ editStudent?.name }}"
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Student Name"
                />
                <br />
                <label for="gender">Gender</label>
                <select
                  required
                  ngModel="{{ editStudent?.gender }}"
                  name="gender"
                  class="custom-select my-1 mr-sm-2"
                  id="gender"
                >
                  <option selected>....</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>

                <label for="english">CGPA for English :</label>
                <input
                  required
                  type="number"
                  id="english"
                  class="form-control"
                  name="english"
                  ngModel="{{ editStudent?.english }}"
                  min="1"
                  max="10"
                />
                <br />
                <label for="maths">CGPA for Maths :</label>
                <input
                  required
                  ngModel="{{ editStudent?.maths }}"
                  type="number"
                  id="maths"
                  class="form-control"
                  name="maths"
                  min="1"
                  max="10"
                />
                <br />
                <label for="social">CGPA for Social :</label>
                <input
                  required
                  ngModel="{{ editStudent?.social }}"
                  type="number"
                  id="social"
                  class="form-control"
                  name="social"
                  min="1"
                  max="10"
                />
                <br />
                <label for="science">CGPA for Science :</label>
                <input
                  required
                  type="number"
                  id="science"
                  class="form-control"
                  ngModel="{{ editStudent?.science }}"
                  name="science"
                  min="1"
                  max="10"
                />
                <br />
                <label for="second_lang">CGPA for Second Language :</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  id="second_lang"
                  ngModel="{{ editStudent?.second_lang }}"
                  name="second_lang"
                  min="1"
                  max="10"
                />
                <br />

                <div
                  style="display: flex; justify-content: space-between"
                  class="modal-footer"
                >
                  <input
                    [disabled]="editForm.invalid"
                    type="submit"
                    class="btn btn-primary"
                    value="Save User Details"
                  /><button
                    type="reset"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- delete details -->
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are You sure You want to delete the details
              {{ editStudent?.name }}?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <button
                (click)="onDeleteStudent(editStudent.id)"
                type="button"
                class="btn btn-primary"
              >
                Delete Details
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="students">
        <table style="width: 100%">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>English</th>
            <th>Maths</th>
            <th>Science</th>
            <th>Social</th>
            <th>Second Language</th>
            <th>Total CGPA</th>
            <th colspan="2">Compare</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.english }}</td>
            <td>{{ student.maths }}</td>
            <td>{{ student.science }}</td>
            <td>{{ student.social }}</td>
            <td>{{ student.second_lang }}</td>
            <td>
              {{
                (student.english +
                  student.maths +
                  student.science +
                  student.social +
                  student.second_lang) /
                  5
              }}
            </td>
            <td>
              <input
                (input)="addStudent(student)"
                type="radio"
                id="first"
                name="fristselect"
              />
            </td>
            <td>
              <input
                (input)="addStudent2(student)"
                type="radio"
                id="second"
                name="secondselect"
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#editModal"
                (click)="updatedata(student)"
              >
                Update
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#deleteModal"
                (click)="updatedata(student)"
              >
                Delete
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <p class="Label2">this is the comparison</p>
    <div class="graph" style="width: 600px">
      <canvas id="acquisitions"></canvas>
    </div>
  </body>
</html>
